<h1>{{ title }}</h1>
<!-- emmet: ul>li -->
<ul>
  <li *ngFor="let todo of todos">
    {{ todo.id }} . {{ todo.title }} -
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)">Refazer</button> |
    <button (click)="remove(todo)">Remover</button>
    <!-- Bindings:
    () = HTML > TS
    [] = TS > HTML
    [()] = TS <> HTML -->
  </li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa: </label>
    <input type="text" 
    placeholder="Descrição da Tarefa" 
    maxlength="60" 
    formControlName="title" />
    <button>Salvar</button>
  </fieldset>
</form>